
 
    <section class="cv-block info">
     <div class="container">
        <div class="acerca grupo" id="acerca-de">
          <h2 class="text-center">Acerca de</h2>
        <p class="text-center text-muted">Afición por la comunicación visual y el descubrimiento de nuevas tendencias en diseño, utilizandolos para mejorar la experiencia del Usuario. </p>
  
          </div>
          
          <div class="acerca-de-edit">
          <div class="col-md-6">
            <button><i class="ion-edit" title="edit"></i></button>
            <button><i class="ion-close" title="delete"></i></button>
          </div>
          </div>
    
      
