<nav class="navbar fixed-top navbar-expand-lg navbar-dark page-navbar gradient">
    <div class="container">
  
     <a href="#"><img src="assets/img/logoAPai.png" alt="Icono-Logo Argentina Programa color verde"></a>
    
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
  
  
          <ul class="navbar-nav mx-auto">
         
         
            <li class="nav-item item">
              <li class="nav-item item">
             </li>
             <li class="nav-item item">
              <a class="nav-link" href="#experiencia-laboral">Experiencia</a>
              </li>
  
              <li class="nav-item item">
                  <a class="nav-link" href="#educacion">Educación</a>
              </li>
              <li class="nav-item item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item item">
                  <a class="nav-link" href="#proyectos">Proyectos</a>
              </li>
            
            <div class="social-icons">
             <a href="https://www.facebook.com/Arrydays/"><i class="ion-social-facebook" title="Facebook"></i></a>
             <a href="https://www.instagram.com/kariu_sol/?hl=es-la"><i class="ion-social-instagram-outline"  title="Instagram"></i></a>
           </div>
    
        
          </ul>
  
      </div>
       <a class="btn btn-dark login" role="button" aria-disabled="true">Login</a>
    </div>
  
   </nav>
