<div class="container desc" id="proyectos">
        
    <h2>Proyectos</h2>
    
    <div class="row">
      
      <div class="col-lg-2 col-lg-offset-1">
      
      </div>
      <div class="col-lg-6">
        <p><img class="img-responsive" src="assets/img/cuestiondigitalwebargprog.jpg" alt="Imagen de Presentación web Cuestion Digital"></p>
      </div>
      <div class="col-lg-3">

        <p>CUESTIÓN DIGITAL</p>
        <p class="text-muted">Soluciones Simples para Cuestiones Digitales. Diseño web moderno, adaptable a todos los dispositivos y auto-administrables para diferentes tipos de proyectos. Diseño de imagenes y videos. Gestión de redes sociales<br/><br/>
            
           
            <a href="https://cuestiondigital.com" class="btn btn-dark login" role="button" aria-disabled="true">Visitar</a>
           
         
        </p>
      </div>