<div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>Karina Meza</h1>
          <h3>Argentina Programa  #YoProgramo</h3>
        </div>
      </div>
      <button class="camera-edit-header"><i class="ion-ios-camera" title="imagenes-edit"></i></button>
      </div>
      
  
      <div class="container">
        <div class="avatar">
         
          <img class="img-fluid rounded-circle" src="assets/img/avatar.jpg" alt="Foto avatar Karina Meza">
  
         <button class="camera-edit"><i class="ion-ios-camera" title="imagenes-edit"></i></button>
        </div>
      
  </div>
   </div>
