
<section class="cv-block info group">
<div class="container">

<ul class="items-list" >
  <div class="text-center">
  <button *ngIf="usuarioAutenticado" data-bs-toggle="modal" data-bs-target="#experienciaModal"><i class="ion-android-add" title="add"></i></button>
  <h2 class="text-center">Experiencia Laboral</h2>
  </div>

<li *ngFor="let experiencia of experienciaList">

<div class="experiencia-laboral group" id="experiencia-laboral"  >

<div class="item">
<div class="row">
  <div class="col-md-6">
    <h3>{{experiencia.tipoExperiencia}}</h3>
    <h4 class="organizacion">{{experiencia.empresa}}</h4>
  </div>
  <div class="col-md-6">
    <button *ngIf="usuarioAutenticado"  data-bs-toggle="modal" data-bs-target="#experienciaModal"(click)="editarExperiencia(experiencia)" ><i class="ion-edit" title="edit"></i></button>
    <button *ngIf="usuarioAutenticado"class=" btn-danger btn-sm"(click)="eliminarExperiencia(experiencia.id)"><i class="ion-close" title="delete"></i></button>
   
  </div>
  <p class="text-muted">{{experiencia.detallesDeExperiencia}}</p>
    </div>
  </div>
</div>

</li>
</ul>



<!-- Modal -->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{accion}} Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="tipoExperiencia" class="form-label">Tipo de Experiencia laboral</label>
            <input type="text" class="form-control" id="tipoExperiencia" formControlName="tipoExperiencia">

          <div *ngIf="tipoExperiencia?.invalid && tipoExperiencia?.touched">
               <div *ngIf="tipoExperiencia?.errors?.['required']" class="text-danger">
                   Su experiencia es requerida

                  </div>
             <div *ngIf="tipoExperiencia?.errors?.['minlength']" class="text-danger">
                 Su descripcion deben tener mas de 10 caracteres.

             </div> 
            </div> 
          
          <div class="mb-3">
            <label for="empresa" class="form-label"
              >Nombre de la Empresa</label
            >
            <input
              type="text"
              class="form-control"
              id="empresa"
              formControlName="empresa"
            />
            <div *ngIf="empresa?.invalid && empresa?.touched">
              <div *ngIf="empresa?.errors?.['required']" class="text-danger">
                 Nombre de la empresa en la q trabajó es requerida

                 </div>
          </div>

          <div class="mb-3">
            <label for="detallesDeExperiencia" class="form-label"
              >Detalles de su experiencia laboral</label
            >
            <input
              type="text"
              class="form-control"
              id="detallesDeExperiencia"
              formControlName="detallesDeExperiencia"
            />
            <div *ngIf="detallesDeExperiencia?.invalid && detallesDeExperiencia?.touched">
              <div *ngIf="detallesDeExperiencia?.errors?.['required']" class="text-danger">
               Detalles de su experiencia es requerida

                 </div>
          </div>
          
        

      <div class="modal-footer">
        <button type="button" id="cerrarModalExperiencia" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
        <button [disabled]="this.form.invalid" type="submit"   class="btn btn-primary" (click)="guardarExperiencia()" >Guardar</button>
      </div>
            
      
  
  
    




 
